<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Consul" version="0.7.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="net45" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net45" />
</packages>